.header {
    position: sticky;
    top: 0;
    background: linear-gradient(to bottom, #20b820, #14be2a);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    
}
@media screen and (max-width:600px) {
    .header {
        width: 100%;
    }
}
.header span {
    margin: 0 10px;
    font-weight: bold;
}